<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Form para Registro de Clientes</title>
</head>

<body>
<div class="header">
    <h1>Administracion</h1>
    <button class="homeBtn" type="button">
        <i class="uil-home"></i>
        <span class="btnText">Home</span>
    </button>
</div>
<div class="container">
    <header>Registro de Cliente</header>
    <form>
        <div class="form first">
            <div class="details personal">

                <span class="tittle">Detalles Personales</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Primer Nombre:</label>
                        <label>
                            <input type="text" placeholder="Escriba su nombre" name="primerNombre" required>
                        </label>
                    </div>
                    <div class="input-field">
                        <label>Segundo Nombre(opcional):</label>
                        <label>
                            <input type="text" placeholder="Escriba su nombre" name="segundoNombre">
                        </label>
                    </div>
                    <div class="input-field">
                        <label>Primer Apellido:</label>
                        <label>
                            <input type="text" placeholder="Escriba su nombre" name="primerApellido"required>
                        </label>
                    </div>
                    <div class="input-field">
                        <label>Segundo Apellido(opcional):</label>
                        <label>
                            <input type="text" placeholder="Escriba su nombre" name="segundoApellido">
                        </label>
                    </div>
                    <div class="input-field">
                        <label>Fecha de Nacimiento:</label>
                        <label>
                            <input type="date" name="fechaNacimiento" required>
                        </label>
                    </div>
                    <div class="input-field">
                        <label>Email:</label>
                        <label>
                            <input type="email" placeholder="Escriba su correo electronico" name="email" required>
                        </label> 
                    </div>
                    <div class="input-field">
                        <label>Numero de Celular</label>
                        <label>
                            <input type="text" placeholder="Escriba su numero de celular" name="numeroCelular" required>
                        </label>
                    </div>
                    <div class="input-field">
                        <label>Genero:</label>
                        <select name="genero" id="generoDir">
                            <option selected>Seleccione su genero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Ocupación:</label>
                        <label>
                            <input type="text" placeholder="Escriba su ocupación" name="ocupacion" required>
                        </label>
                    </div>
                </div>
            </div>

            <div class="details ID">

                <span class="tittle">Detalles Documento de Identidad</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Tipo Identificación:</label>
                        <label for="tipoIdentificacion"></label><select name="tipoIdentificacion" id="tipoIdentificacion">
                            <option selected>Seleccione el tipo</option>
                            <option value="N">Cedula</option>
                            <option value="D">DIMEX</option>
                            <option value="P">Pasaporte</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Numero de Identificación:</label>
                        <label>
                            <input type="text" placeholder="Escriba su numero de Identificación" name="identificacion" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Tipo de Persona:</label>
                        <label for="tipoPersona"></label>
                        <select name="tipoPersona" id="tipoPersona">
                            <option selected>Seleccione el tipo</option>
                            <option value="F">Física</option>
                            <option value="J">Jurídica</option>
                            <option value="P">PYME</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Fecha de Emisión:</label>
                        <label>
                            <input type="date" placeholder="Escriba su fecha" name="issueDate" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Fecha de Expiración:</label>
                        <label>
                            <input type="date" placeholder="Escriba su fecha" name="fechaExpiracion">
                        </label>
                    </div>

                </div>
                <button class="nextBtn">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>

        <div class="form second">
            <div class="details address">

                <span class="tittle">Detalles de Dirección</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Tipo direccion:</label>
                        <label for="direccionTipo"></label>
                        <select name="direccionTipo" id="direccionTipo">
                            <option selected>Seleccione el tipo</option>
                            <option value="H">Hogar</option>
                            <option value="T">Trabajo</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Fecha de Nacimiento:</label>
                        <label>
                            <input type="date" placeholder="Escriba su fecha" name="fechaNacimiento">
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Email:</label>
                        <label>
                            <input type="text" placeholder="Escriba su correo electronico" name="email2" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Numero de Celular</label>
                        <label>
                            <input type="text" placeholder="Escriba su numero de celular" name="numero2" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Genero:</label>
                        <label for="generoDir3"></label><label for="generoDir3"></label><select name="Genero" id="generoDir3">
                            <option selected>Seleccione su genero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Ocupación:</label>
                        <label>
                            <input type="text" placeholder="Escriba su ocupación" name="ocupacion2" required>
                        </label>
                    </div>
                </div>
            </div>

            <div class="details ID">

                <span class="tittle">Detalles Documento de Identidad</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Tipo Identificación:</label>
                        <label for="tipoIdentificacionDir"></label><select name="tipoIdentificacionDir" id="tipoIdentificacionDir">
                            <option selected>Seleccione el tipo</option>
                            <option value="N">Cedula</option>
                            <option value="D">DIMEX</option>
                            <option value="P">Pasaporte</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Numero de Identificación:</label>
                        <label>
                            <input type="text" placeholder="Escriba su numero de Identificación" name="identificacion" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Numero de Identificación:</label>
                        <label>
                            <input type="text" placeholder="Escriba su numero de Identificación" name="identificacion" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Tipo de Persona:</label>
                        <label for="tipoPersonaDir"></label><select name="tipoPersonaDir" id="tipoPersonaDir">
                            <option selected>Seleccione el tipo</option>
                            <option value="F">Física</option>
                            <option value="J">Jurídica</option>
                            <option value="P">PYME</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Fecha de Emisión:</label>
                        <label>
                            <input type="date" placeholder="Escriba su fecha" name="fechaEmision" required>
                        </label>
                    </div>

                    <div class="input-field">
                        <label>Fecha de Expiración:</label>
                        <label>
                            <input type="date" placeholder="Escriba su fecha" name="fechaExp">
                        </label>
                    </div>

                </div>
                <div class="buttons">
                    <button class="backBtn" type="button">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </button>

                    <button class="submitBtn" type="button">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="script.js"></script>
</body>

</html>