<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Client</title>

    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>

  <body>
    <div class="header">
      <h1>Administracion</h1>
      <button class="homeBtn" type="button">
        <i class="uil-home"></i>
        <span class="btnText">Home</span>
      </button>
    </div>

    
    <script src="script-show.js"></script>
  </body>
</html>
